/*******************************************************************************
Main CSS page
by Eddie
*******************************************************************************/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Tags
*******************************************************************************/
Body {
  text-align: center;
}

/*******************************************************************************
Body Frame
*******************************************************************************/
#body_frame {
  border: 5px solid red;
  width: 810px;
  height: 650px;
}

/*******************************************************************************
ID Wrappers
*******************************************************************************/
#body_wrap {
  width: 800px;
  height: 640px;
}

/*******************************************************************************
ID Content
*******************************************************************************/


/*******************************************************************************
Class Wrappers
*******************************************************************************/


/*******************************************************************************
Class Content
*******************************************************************************/


